--find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html

# [project.dependencies]
numpy==1.26.4
torch==2.5.1
torch-geometric>=2.4.0
torch-scatter>=2.1.2
torch-sparse>=0.6.18
torch-cluster>=1.6.3
rdkit>=2023.9.6
omegaconf>=2.3
wandb
tensorboard
gitpython
botorch
gdown
chromadb==1.0.20
pubchempy

# [project.optional-dependencies]
# unidock
openbabel-wheel
unidock_tools @ git+https://github.com/dptech-corp/Uni-Dock.git@1.1.2#subdirectory=unidock_tools

# pmnet
pharmaconet @ git+https://github.com/SeonghwanSeo/PharmacoNet.git

# STOUT(IUPAC)
# STOUT-pypi @ git+https://github.com/jjjabcd/Smiles-TO-iUpac-Translator.git

# dev
black
isort
ruff